body{
  background: #131212
}

.App {
  text-align: center;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.box{
  background-color: darksalmon;
   padding: 20px;
    margin: 20px;
    flex: 1;
    min-width: 200px;
    height: 200px;

}

h1{
  /* font-family: 'La Belle Aurore', cursive;
font-family: 'Libre Barcode 128 Text', cursive;
font-family: 'Major Mono Display', monospace;
font-family: 'Monofett', cursive;
font-family: 'Plaster', cursive; */
font-family: 'Playfair Display', serif;
/* font-family: 'Reenie Beanie', cursive;
font-family: 'Zilla Slab Highlight', cursive; */
}

.cols a{
color:peachpuff;
margin: 15px
}

a:link{
  text-decoration: none;
}

.about{
  font-size: 3em;
  text-align: left;
  font-family: 'Zilla Slab Highlight';
}

.placement{
  position: absolute;
    margin-top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header{
  font-family: 'Playfair Display', serif;
  color:peachpuff;
  font-size: 2em;
    font-weight: bold;
  position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(0, -2em);
}

.submenu{
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.box1{
background: crimson;
}

.box2{
background: darksalmon;
}

.box3{
background: indianred;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



